.ok {
  fill: #34bfa3;
}

.warning {
  fill: #ffcc00;
}

.critical {
  fill: #f24f7c;
}

#yAxis {
  font-size: 12px;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  fill: #a1a1a1;
  margin-right: 20px;
}
